package internal

import (
	"{{.PackageName}}/pkg/types"
)

type TestAction struct{}

func (t *TestAction) Execute(_ *any) (types.Message, error) {
	return types.Message{
		Message: "Hello, world!",
	}, nil
}
