package receivers
{{ if or .InputType .OutputType }}
import (
    "{{ .PackageName }}/pkg/types"
)
{{ end }}
type {{ .Name }} struct {}

func (a *{{ .Name }}) Execute({{- if .InputType }}arg *{{ .InputType }}{{ else }}_ *any {{- end }}) error {
	return nil
}