package receivers

import (
    "context"
{{ if .InputType }}
    "{{ .PackageName }}/pkg/types"
{{ end }}
)

type {{ .Name }} struct {}

func (a *{{ .Name }}) Execute(ctx context.Context, {{- if .InputType }}arg *{{ .InputType }}{{ else }}_ *any {{- end }}) error {
	return nil
}