package actions
{{ if or .InputType .OutputType }}
import (
    "{{ .PackageName }}/pkg/types"
)
{{ end }}
type {{ .Name }} struct {}

func (a *{{ .Name }}) Execute({{- if .InputType }}arg *{{ .InputType }}{{ else }}_ *any {{- end }}) {{- if .OutputType }} ({{ .OutputType }}, error){{ else }} (any, error){{ end }} {
	{{- if .OutputType }}
	return {{ .OutputType }}{}, nil
	{{- else }}
	return nil, nil
	{{- end }}
}