version: "3"

tasks:
  run:
    desc: Run the local peer
    cmd: go run ./cmd
    dir: ./

  generate-actions:
    desc: Generate actions from the actions.yaml file
    cmd: coattail generate-actions
    dir: ./